{% load static %}
<!-- jquery Js -->
<script src="{% static 'assets/js/plugins/jquery.min.js' %}" defer></script>
<script src="{% static 'assets/js/plugins/swiper.js' %}" defer></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}" defer></script>
<!-- custom js -->
<script src="{% static 'assets/js/main.js' %}" defer></script>

<script>
    // Check if user has already set a theme preference
    var storedTheme = localStorage.getItem('intellactai');

    // If no preference is found, default to dark mode
    if (!storedTheme) {
        storedTheme = "dark";
        localStorage.setItem('intellactai', storedTheme);
    }

    // Set the theme based on the stored value
    document.documentElement.setAttribute('data-theme', storedTheme);
</script>