{% load static %}

<!-- tp choose us area start -->
<section class="tp-chooseus__area fix tp-chooseus__1 p-relative section-bg d-flex align-items-center">
    <div class="tp-chooseus__bg-thumb d-none d-xl-block wow tp_clip_right"
        data-background="{% static 'assets/img/chooseus/chooseus-thumb-1-1.jpg" data-wow-delay=".3s" data-wow-duratio' %}n="2.5s">
        <div class="tp-chooseus__icon">
            <a href="#contactus">
                <span>
                    <svg width="229" height="229" viewBox="0 0 229 229" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 224L211.25 17.75M5 4H225V224" stroke="currentColor" stroke-width="6.5"
                            stroke-linecap="square" stroke-linejoin="round" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 offset-xl-5">
                <div class="tp-chooseus__wrap">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tp-chooseus__title-box">
                                <div class="tp-section-title-wrap pb-20 wow tpfadeUp" data-wow-delay=".3s">
                                    <span class="tp-section-subtitle mb-5"> <i class="fa-sharp fa-solid fa-minus"> </i>
                                        Why choose us
                                    </span>
                                    <h3 class="d-none tp-chooseus tp-section-title">
                                        Reasons to <span class="light-text"> Choose Us </span>
                                    </h3>
                                    <h3 class="tp-chooseus tp-section-title">
                                        + 10 Years Of Experience <br>In <span class="light-text"> Marketing</span> Field
                                    </h3>
                                </div>
                                <p class="pr-25 wow tpfadeUp" data-wow-delay=".6s">
                                    If you ask our clients what it’s like working with 36, they’ll talk about Whether
                                    realmean success. We love building brands it's crafting a visually stunning brand
                                    real success. We love building brands it's crafting a visually stunning brand
                                </p>
                                <div class="tp-progress__bar p-relative pt-40 pb-30">
                                    <span>85%</span>
                                    <h5 class="tp-progress__bar-title">Architecture Design</h5>
                                    <div class="progress">
                                        <div class="progress-bar"
                                            style="width: 85%; visibility: visible; animation-duration: 1s; animation-delay: 1s; animation-name: slideInLeft;">
                                        </div>
                                    </div>
                                </div>
                                <div class="tp-choose-us-features">
                                    <h5> Our Specialty: </h5>
                                    <div class="tp-choose-us-list-1">
                                        <ul>
                                            <li>
                                                <i class="icon fa-solid fa-circle-check"></i> Cost Effective
                                            </li>
                                            <li>
                                                <i class="icon fa-solid fa-circle-check"></i> Timely Deliver
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tp-choose-us-list-2">
                                        <ul>
                                            <li>
                                                <i class="icon fa-solid fa-circle-check"></i> Proven Results
                                            </li>
                                            <li>
                                                <i class="icon fa-solid fa-circle-check"></i> Quality Assurance
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tp-choose-us-btn">
                                <a href="#contactus" class="tp-btn-primary tp-btn-switch-text">
                                    <span class="btn-double-text" data-text="Explore More">Explore More </span>
                                    <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tp choose us area end -->

<!-- tp working process area start -->
<section class="tp-working-process__area pt-120 p-relative fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="mb-60">
                    <span class="tp-section-subtitle mb-5"> <i class="fa-sharp fa-solid fa-minus"> </i> how it works
                    </span>
                    <h3 class="tp-section-title">
                        Our Working <span class="light-text"> process </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-working__process wow tpfadeUp mb-40" data-wow-delay=".3s" data-wow-duration="1.5s">
                    <div class="tp-working-process__icon">
                        <img src="{% static 'assets/img/working-process/icon-1.png' %}" alt="">
                    </div>
                    <div class="tp-working__text">
                        <h4> Branding </h4>
                        <p> Having these marketplace to your branded skilled team of designers and developers. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-working__process wow tpfadeUp mb-40" data-wow-delay=".6s" data-wow-duration="1.5s">
                    <div class="tp-working-process__icon">
                        <img src="{% static 'assets/img/working-process/icon-2.png' %}" alt="">
                    </div>
                    <div class="tp-working__text">
                        <h4> Optimum </h4>
                        <p> Having these marketplace to your branded skilled team of designers and developers. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-working__process wow tpfadeUp mb-40" data-wow-delay=".9s" data-wow-duration="1.5s">
                    <div class="tp-working-process__icon">
                        <img src="{% static 'assets/img/working-process/icon-3.png' %}" alt="">
                    </div>
                    <div class="tp-working__text">
                        <h4> Thinking </h4>
                        <p> Having these marketplace to your branded skilled team of designers and developers. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tp-working__process wow tpfadeUp mb-40" data-wow-delay="1.3s" data-wow-duration="1.5s">
                    <div class="tp-working-process__icon">
                        <img src="{% static 'assets/img/working-process/icon-4.png' %}" alt="">
                    </div>
                    <div class="tp-working__text">
                        <h4> Execution </h4>
                        <p> Having these marketplace to your branded skilled team of designers and developers. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tp working process area end -->
