{% load static %}
<!-- tp-featured-area start  -->
<section class="tp-featured__3-area fix tp-featured__3  pb-120 pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <div class="tp-team-titlebox mb-60">
                    <span class="tp-section-subtitle mb-5"> <i class="fa-sharp fa-solid fa-minus"> </i> Creative
                        Toolkit </span>
                    <h3 class="tp-section-title"> Our toolbox <span class="light-text"> for innovation </span></h3>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".1s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-1.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="92">92</b>%
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-2.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="89">89</b>%
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-3.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="96">96</b>%
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-4.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="99">99</b>%
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".8s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-5.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="82">82</b>%
                    </h3>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <div class="tp-featured__3-item wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".9s">
                    <div class="tp-featured__3-thumb mb-10">
                        <img src="{% static 'assets/img/featured/featured-3-6.png' %}" alt="">
                    </div>
                    <h3 class="tp-featured__3-count">
                        <b class="purecounter" data-purecounter-duration="1" data-purecounter-end="96">96</b>%
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tp-featured-area end  -->